/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; /* Cor de fundo suave */
    color: #333;
  }
  
  /* Estilo do header */
  header {
    background-color: #007bff; /* Azul do cabeçalho */
    padding: 15px 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav a:hover {
    background-color: #0056b3; /* Azul mais escuro */
  }
  
  /* Estilo do main */
  main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff; /* Fundo branco para o formulário */
    border: 1px solid #ccc;
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 15px;
    color: #333;
    text-align: center; /* Centralizando o título */
  }
  
  p {
    margin-bottom: 20px;
    color: #666;
    text-align: center; /* Centralizando o texto do parágrafo */
  }
  
  /* Estilizando o formulário */
  form {
    display: flex;
    flex-direction: column; /* Disposição vertical */
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Cantos arredondados nos inputs */
    transition: border-color 0.3s;
  }
  
  input[type="date"]:focus,
  input[type="time"]:focus,
  select:focus {
    border-color: #007bff; /* Azul quando em foco */
    outline: none; /* Remove o contorno padrão */
  }
  
  input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #28a745; /* Verde */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #218838; /* Verde mais escuro ao passar o mouse */
  }
  
  /* Estilo da tabela de consultas marcadas */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #007bff; /* Azul para o cabeçalho da tabela */
    color: #fff;
  }
  
  /* Estilo do footer */
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  
    nav a {
      padding: 15px;
      text-align: center;
      width: 100%;
    }
  
    main {
      margin: 20px;
      padding: 15px;
    }
  }
  